<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" *ngIf="!isLoading">
                <div class="mb-3">
                    <label>To continue, please enter the One-Time Pin (OTP) sent to your email address.</label>
                    <input type="text" class="form-control" [(ngModel)]="otpCode">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="otpErroMsg">
                     {{ otpErroMsg }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" (click)="generateOtp()" [disabled]="otpCode !== ''">Generate OTP</button>
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" [disabled]="otpCode === ''" (click)="verifyOtp()">Submit</button>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" *ngIf="isLoading">
                <div class="mat-elevation-z8">
                    <div class="row">
                        <div class="col">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/assets/images/logos/gad-logo.png" class="img-fluid" alt="Sample image">
            </div>
        </div>
    </div>
</section>