<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="credentialsForm" (ngSubmit)="resetPassword()">
                    <div class="mb-3">
                        <label [ngClass]="{'text-danger': credentialsForm.get('password')?.touched && credentialsForm.get('password')?.invalid}">New Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': credentialsForm.get('password')?.touched && credentialsForm.get('password')?.invalid, 'is-valid': credentialsForm.get('password')?.touched && credentialsForm.get('password')?.valid}" placeholder="New Password">
                        <div *ngIf="credentialsForm.get('password')!.hasError('required')" class="invalid-feedback">This field is required</div>
                    </div>
                    <div class="mb-3">
                        <label [ngClass]="{'text-danger': credentialsForm.get('confirm_password')?.touched && credentialsForm.get('confirm_password')?.invalid}">Confirm Password</label>
                        <input type="password" formControlName="confirm_password" class="form-control" [ngClass]="{'is-invalid': credentialsForm.get('confirm_password')?.touched && credentialsForm.get('confirm_password')?.invalid, 'is-valid': credentialsForm.get('confirm_password')?.touched && credentialsForm.get('confirm_password')?.valid}" placeholder="Confirm New Password">
                        <div *ngIf="credentialsForm.get('confirm_password')!.hasError('required')" class="invalid-feedback">This field is required</div>
                        <div *ngIf="credentialsForm.hasError('passwordMismatch')" class="invalid-feedback">Passwords do not match</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!credentialsForm.valid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/assets/images/logos/gad-logo.png" class="img-fluid" alt="Sample image">
            </div>
        </div>
    </div>
</section>
