.card-header {
    background-color: white !important;
}
.mat-elevation-z8 {
    overflow-x: auto !important;
    width: 100%;
}
p {
    word-wrap: break-word !important;
}
.mat-mdc-table {
    table-layout: fixed !important;
}